.container{
	width: 1200px;
}
body{
	background-color: #f2f2f2;
}
hr{
	margin:0 !important; 
}
.head{
	background: white!important;
}
.head h3{
	background-color: #d95900;
	font-size: 14px;
	text-align: center;
	line-height: 36px;
}
.head h3 a{
	color: white !important;
}
.icon1{
	font-size: 12px !important;
    margin-left: 215px;
    background: rgba(0,0,0,0.3);
    padding: 2px;
    color: white;
}
.head .top{
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	height: 40px;
    line-height: 40px;
}
.head .left{
	float: left;
	width: 130px;
}
.head .right{
	float: right;
	width: 500px;
	overflow: hidden;
}
.head a{
	text-decoration: none;
}
.head a:hover{
	color: #ff6800;
}
ul{
	overflow: hidden;
	padding-left: 0;
}
ul li{
	float: left;
	list-style: none;
}
.head .right ul{
	float: right;
}
.head .right ul li{
	display: inline-block;
	padding: 0 8px; 
}
.head .right ul li a{
	font-size: 14px;
	color: #333;
}
.head .right ul li a:hover{
	color: #ff6800;
}
.register{
	float: right;
	background-color: #ff6800;
	display: inline-block;
	padding: 0 18px;
	font-size: 14px;
	color: white !important;
}
.login{
	width: 76px;
	float: right;
	margin: 0 10px;
}
.login:hover .tridown{
	color: #fb6800;
	transform: rotate(180deg) !important;
}
.has{
	border-bottom: 2px solid #fb6800;
}

.head .down{
	height: 60px;
	overflow: hidden;
}
.head .down ul{
	float: left;
}
.head .down ul li{
	line-height: 60px;
	padding: 0 10px;
}
.head .down ul li:hover a{
	color: #fb6800;
	border-bottom: 2px solid #fb6800;
	
}
.head .down ul li a{
	padding: 20px 0;
}
.head .down ul li.own{
	padding-right: 2px !important;
}
.sups{
	position: relative;
    display: block;
    padding: 1px 5px;
    background-color: #ff6800;
    font-size: 12px;
    color: white;
    margin-top: -56px;
    line-height: 14px;
    width: 46px;
    margin-left: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    behavior:url(pie/PIE.htc);
}
.sups:after{
	position: absolute;
    content: "";
    bottom: -4px;
    left: 5%;
    border-top: 4px solid red;
    border-right: 3px solid transparent;
}
.supes{
	position: relative;
    display: block;
    padding: 0;
    background-color: green;
    font-size: 12px !important;
    color: white;
    margin-top: -53px;
    line-height: 11px;
    width: 24px;
    margin-left: 45px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    behavior:url(pie/PIE.htc);
}
.supes:after{
	position: absolute;
    content: "";
    bottom: -4px;
    left: 5%;
    border-top: 4px solid green;
    border-right: 3px solid transparent;
}
.dynamic{
	float: right;
    display: inline-block;
    width: 100px;
    height: 60px;
    background: url(../images/03index-1-bak.gif) no-repeat;
    background-size: 100px;
    vertical-align: middle;
    background-position: 0% 50%;
}
.dynamic:hover{
	background: url(../images/03index-1.gif) no-repeat;
	background-position: 0% 50%;
	background-size: 100px;
}
.other{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	background-color: white;
	z-index: 999;
	overflow: hidden;
	border-bottom: 2px 0 5px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 0 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 2px 0 5px rgba(0,0,0,.2);
	-ms-box-shadow: 2px 0 5px rgba(0,0,0,.2);
	box-shadow: 2px 0 5px rgba(0,0,0,.2);
	behavior:url(pie/PIE.htc);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);*/
}
.other .left{
	width: 270px !important;
	float: left;
}
.other .left span{
	font-size: 20px;
	color: #333;
	line-height: 57px;
}
.other .left img{
	margin-top: -8px;
    display: inline-block;
}
.other .right{
	width: 980px;
	float: right;
}
.other .right li{
	display: inline-block;
	padding: 0 10px;
}
.other .right li a{
	font-size: 14px;
	color: #666;
	padding-bottom: 17px;
    line-height: 58px;
}
.other .right li a:hover{
	color: #fb6800;
}
.shoe{
	color: #fb6800 !important;
	border-bottom: 2px solid #fb6800;
}
.navs{
	position: relative !important;
}
.logins{
	display: none;
	position: absolute !important;
    top: -61px;
    right: 1%;
    width: 280px;
    padding-bottom: 20px;
    background: white;
    z-index: 9999 !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 25px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    behavior:url(pie/PIE.htc);
}
.login-text{
	position: relative;
}
.login-text:before{
	border: solid transparent;
    content: ' ';
    height: 0;
    top: -18px;
    position: absolute;
    width: 0;
    border-width: 9px;
    border-bottom-color: #ccc;
    left: 125px;
}
.login-text:after{
    border: solid transparent;
    content: ' ';
    height: 0;
    top: -16px;
    position: absolute;
    width: 0;
    border-width: 8px;
    border-bottom-color: #fff;
    left: 126px;
}
.login-text .wes{
	display: block;
	text-decoration: none;
	overflow: hidden;
}
.login-text img{
	float: right;
}
.login-text span{
	float: right;
	border: 1px solid #e7d893;
	background-color: #fdf8e2;
	margin-top: 2px;
	font-size: 12px;
	color: #df9c1f;
}
.login-text i{
	font-style: normal;
	color: #aa8245;
	font-size: 14px;
}
.login-text .iconfont{
	margin: 0 3px;
}
.login-text h4{
	font-size: 16px;
	color: #333;
}
.user{
	width: 200px;
	margin: 15px 0;
    padding-left: 20px;
    height: 25px;
    line-height: 25px;
}
.code{
	width: 100px;
	height: 25px;
    line-height: 25px;
    padding-left: 10px;
    margin-top: 15px;
}
.person{
	display: block;
    margin-top: -34px !important;
    margin-left: 5px !important;
}
.log{
	background-color: #fb6800;
	text-decoration: none !important;
	font-size: 16px;
	color: #fff !important;
	padding: 5px 34px;
	margin-right: 10px;
}
.log:hover{
	background-color: #e55519;
}
.fgt{
	font-size: 14px;
	color: #666 !important;
	text-decoration: none !important;
}
.login-text p{
	margin-top: 15px;
}
#vCode{
	display: block;
    width: 88px;
    height: 26px;
    border: 1px solid white;
    margin-top: -26px;
    margin-left: 113px;
	overflow: hidden;
}
.listes{
	display: none;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	padding-left: 0 !important;
	background-color: white;
	z-index: 999;
	border-top: 1px solid #ccc;
	border-bottom: none !important;
}
.listes li{
	text-align: center;
	width: 178px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0 !important;
	padding-bottom: 0 !important;
}
.listes li a{
	width: 100%;
	height: 100%;
	display: block;
	padding: 15px 0;
}
.listes .spe{
	height: 113px;
}
.listes .hot{
	background: url(../images/hot.jpg) no-repeat 100% 0;
}
.listes .new{
	background: url(../images/new.jpg) no-repeat 100% 0;
}
.listes li:hover{
	border-bottom: 1px solid red;
}
.listes li:hover img{
	transform: translateY(-5px);
}
.listes li img{
	transition: 0.5s;
    width: 37px;
    height: 37px;
}
.listes li .w10{
	width: 50% !important;
}
.listes li p{
	font-size: 12px !important;
    color: #333 !important;
    line-height: 20px !important;
    margin-top: 10px;
}
.listes li span{
	font-size: 12px;
	color: #999;
}
.navs{
	position: relative;
}
.banner{
	width: 100%;
	
}
.kinds ul{
	display: inline-block;
	margin-bottom: -3px;	
}
.kinds{
	width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    border-bottom: 1px solid rgba(242,242,242,.2);
}
.navs ul li{
	display: inline-block;
	padding-bottom: 29px; 
	margin: 0 10px;
}
.navs ul li.first{
	padding-bottom: 24px !important;
	margin-right: 34px;
}
.navs ul li p{
	font-size: 20px;
	color: white;
	line-height: 24px;
}
.navs ul li a{
	text-decoration: none;
	font-size: 14px;
	color: white;
}
.navs ul li a:hover{
	color: #ff6800;
}
.ons{
	border-bottom: 2px solid #ff6800;
}
.level{
	overflow: hidden;
	background: white;
}
.level .c1{
	position: relative;
    float: left;
    text-align: center;
    line-height: 76px;
    height: 76px;
}
.level .c1 a{
	text-decoration: none;
}
.level .c2{
	border-right: 1px solid #ccc;
}
.level .c2 a{
	font-size: 18px;
	color: #333;
}
.level .c2 a:hover{
	color: #0099ff;
}
.level .c3 a{
	color: #0099ff;
}
.line{
	position: absolute;
    bottom: 0;
    left: 43%;
    width: 70px;
    height: 2px;
    background-color: #ff6800;
}
.level .c4 a{
	font-size: 18px;
	color: #ff6800;
	border: 1px solid #ff6800;
	padding: 8px;
}
.level .c4 a:hover{
	background-color: #ff6800;
	color: white;
}
.text{
	padding-top: 40px;
	padding-bottom: 50px;
}
.text h1{
	font-size: 30px;
    color: #000;
    text-align: center;
}
.text h4{
	font-size: 14px;
	color: #999;
	text-align: center;
	margin: 10px 0 25px 0;
}
.context{
	background: white;
	padding-top: 30px;
}
.base{
	color: #333;
    font-size: 1pc;
    padding-left: 40px;
}
.context .x12{
	margin: 10px 0;
}
.context .x1{
	text-align: right;
    margin-left: 20px;
    margin-right: 20px;
}
.front{
	font-size: 14px;
	color: #333;
	font-weight: 700;
	display: inline-block;
    margin-top: 10px;
}
.nav-tabs{
	border-bottom: none !important;
}
.nav-tabs>li {
	height: 38px;
    background: #fbfbfb;
    border: 1px solid #e2e2e2;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 151px;
    text-align: center;
}
.nav-tabs>li>a:hover{
	border-color: white;
}
.nav>li>a:hover{
	background-color: #fbfbfb;
}
.nav-tabs>li.active>a{
	background-color: #ff6800;
	border: 1px solid transparent;
}
.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a{
	border: 1px solid transparent;
	color: white;
}
.nav>li>a:focus{
	background-color: #fbfbfb;
}
.nav-tabs>li.active>a:focus{
	border: 1px solid transparent;
	background: #ff6800;
	color: white;
}
.nav-tabs>li>a{
	margin-right: 0;
	border-radius: 0;
	color: #666;
	-webkit-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    behavior:url(pie/PIE.htc);
}
.nav-tabs>li>a:hover{
	color: #ff6800;
}
.nav-tabs>li.active>a:hover{
	background-color: #ff6800
}
.nav-tabs>li.active{
	border: 1px solid #ff6800 !important;
}
.nav>li>a{
	padding: 7px 0;
}
.maintext{
	margin-top: 10px;
}
.maintext .c12{
	padding: 0;
	margin: 10px 0;
}
.d12{
	margin-bottom: 20px !important;
}
.x11{
	padding-left: 3px;
	padding-right: 0;
}
.maintext .space li{
	display: inline-block;
    padding: 11px 0;
    background-color: #fbfbfb;
    color: #666;
    margin:0 10px 10px 0;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    width: 151px;
    text-align: center;
}
.maintext .space li:hover{
	color: #fb6800;
}
.spaces{
	background-color: #fb6800 !important;
	color: white !important;
	border: 1px solid #fb6800 !important;
}
.maintext .house li{
	width: 151px;
	margin: 0 10px 10px 0;
	background-color: #fbfbfb;
	border: 1px solid #e2e2e2;
	cursor: pointer;
}
.maintext .house li:hover h3{
	color: #fb6800;
}
.maintext .house li:hover p{
	color: #fb6800;
}
.maintext .house li h3{
	font-size: 14px;
	color: #666;
	text-align: center;
	line-height: 36px;
	border-bottom: 1px solid #e2e2e2;
}
.maintext .house li p{
	font-size: 14px;
	color: #666;
	text-align: center;
	line-height: 26px;
}
.maintext .house li i{
	font-style: normal;
	color: #fb6800;
}
.house{
	overflow: visible !important;
}
.houses{
	border: 1px solid #fb6800 !important;
}
.computers{
	position: relative;
}
.computers:hover .htitle{
	display: block;
}
.htitle{
	display: none;
    position: absolute;
    top: -46px;
    left: -81px;
    width: 330px;
}
.htitle p{
    position: relative;
    background-color: white;
    font-size: 14px !important;
    color: #333 !important;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    line-height: 33px !important;
    -moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	-ms-box-shadow: 0 0 5px #ccc;
	-o-box-shadow: 0 0 5px #ccc;
	behavior:url(pie/PIE.htc);
}
.htitle p:before{
	position: absolute;
    bottom: -16px;
    left: 149px;
    content: "";
    border: solid transparent;
    width: 0;
    height: 0;
    border-width: 8px;
    border-top-color: #ccc;
}
.htitle p:after{
	position: absolute;
    bottom: -12px;
    left: 151px;
    content: "";
    border: solid transparent;
    width: 0;
    height: 0;
    border-width: 6px;
    border-top-color: #fff;
}
.househ{
	color: white !important;
	background-color: #fb6800 !important;
}
.housep{
	color: #fb6800 !important;
	background-color: white !important;
}
.tooltip-inner{
	max-width: 400px;
	position: relative;
	font-size: 14px;
    line-height: 28px;
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    width: 330px !important;
    height: 30px;
    padding: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.18);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.18);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.18);
	-ms-box-shadow: 0 0 4px rgba(0,0,0,.18);
	-o-box-shadow: 0 0 4px rgba(0,0,0,.18);
    z-index: 999;
    border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    behavior:url(pie/PIE.htc);
}
.tooltip-inner:before{
	border: solid transparent;
    content: ' ';
    height: 0;
    top: 100%;
    position: absolute;
    width: 0;
    border-width: 8px;
    border-top-color: #ccc;
    left: 154px;
}
.tooltip-inner:after{
	border: solid transparent;
    content: ' ';
    height: 0;
    top: 100%;
    position: absolute;
    width: 0;
    border-width: 6px;
    border-top-color: #fff;
    left: 156px;
}
.tooltip.top .tooltip-arrow{
	border-width: 0;
	bottom: -5px !important;
}
.tooltip.in {
    filter: alpha(opacity=100);
    opacity: 1;
}
.tooltip.top {
    margin-top: -6px ;
}
.orange li{
	width: 100%;
	font-size: 12px;
	color: #666;
	line-height: 22px;
}
.orange a{
	text-decoration: none;
	color: red !important;
}
.x10{
	margin-bottom: 15px;
}
.x10 input{
	width: 210px;
	height: 36px;
	line-height: 36px;
	border: 1px solid red;
	padding-left: 15px;
	margin-right: 15px;
}
.ipic{
	display: none;
}
.xpic{
	display: none;
}
.x1pic{
	display: none;
	margin-left: 20px;
}
.c1{
	margin-bottom: 15px;
}
.hint{
	font-size: 12px;
	color: #999;
	display: inline-block;
}
.grade{
	font-size: 12px;
	color: white;
	background-color: #d2d2d2;
	display: inline-block;
	padding: 2px 15px;
	margin-right: 1px;
}
.remind{
	padding-left: 152px;
}
.remind i{
	font-style: normal;
	font-size: 12px;
	color: red;
}
.remind span{
	font-size: 12px;
	color: #999;
}
.x2{
	overflow: hidden;
	background-color: #f9fafc;
	height: 60px;
	padding-left: 0;
	border-bottom: 1px solid #eee;
}

.orangebar{
	display: none;
	background-color: #f9fafc;
	border-bottom: 1px solid #eee;
	width: 100%;
	padding: 20px 0 20px 47px;
}
.flow{
	font-size: 14px;
	font-weight: bold;
	color: #333 !important;
}
.znum{
	text-align: justify;
	margin-left: -15px;
}
.znum span{
	margin-right: 113px;
	display: inline-block;
}
#slider-range-max{
	display: inline-block;
    width: 750px;
    height: 22px;
    cursor: pointer;
}
.ui-corner-all{
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    behavior:url(pie/PIE.htc);
}
.ui-widget-content{
    background-color:#e95f00 !important;
}
.ui-state-default{
    background:url(../images/btn.jpg) no-repeat !important;
    background-size: 18px !important;
    border-color: #e95f00 !important;
    outline: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    behavior:url(pie/PIE.htc);
}
.ui-state-hover{
    background: red;
}
.ui-slider .ui-slider-handle {
    width: 18px !important;
    height: 30px !important;
    cursor: pointer !important;
}
.ui-slider-active { 
    border-color: red !important; 
}
.ui-slider-range{
    background: white;
}
.ui-slider-horizontal .ui-slider-range-max {
    background: white !important;
}


.x2 .s2{
	float: left;
}
.x2 .s1{
	padding-left: 0;
}
.x2 .s1 span{
	display: block;
    margin-top: -16px;
    margin-left: 44px;
    color: #333;
    font-weight: bold;
}
.x2 .s3{
	width: 228px;
	border-right: 1px solid #ccc;
    margin-top: 16px;
    padding: 0;
}
.x3{
	overflow: hidden;
    background-color: #f9fafc;
    height: 60px;
    padding-left: 0;
    border-bottom: 1px solid #eee;
}
.x3 .s2{
	float: left;
}
.x3 .s1 span{
	display: inline-block;
    margin-top: 20px;
    margin-left: 46px;
    font-weight: bold;
    color: #333;
}
.x3 .s3{
	margin-top: 14px;
	padding: 0;
}
.x4{
	height: 120px;
	background-color: white;
	border-bottom: 1px solid #eee;
	padding-top: 20px;
}
.x5{
	background-color: #fafafa;
	padding-bottom: 15px;
}
.x5 .a1{
	margin: 30px 10px 0 24px;
}
.x5 .a1 span{
	font-size: 1pc;
	color: #333;
}
.x5 .a2{
	padding-right: 0;
}
.x5 .a2 ul{
	margin-top: 20px;
}
.x5 .a2 ul li{
	width: 290px;
}
.x5 .a2 ul .last{
	width: 336px;
}
.x5 .a2 ul li p{
	line-height: 24px;
	overflow: hidden;
}
.sup{
	width: 61px;
	float: left;
}
.sub{
	width: 275px;
	float: left;
}
.x5 .a2 ul li span{
	font-size: 9pt;
	color: #999;
}
.x5 .a2 ul li i{
	font-style: normal;
	font-size: 9pt;
	color: #666;
}
.x6{
	background-color: #fafafa;
	border-top: 1px solid #eee;
	height: 67px;
    line-height: 72px;
}
.x6 p{
	color: #ff4900;
	font-size: 12px;
	text-align: center;
}
.x7{
	box-shadow: 0 0 15px #ccc;
	-moz-box-shadow: 0 0 15px #ccc;
	-webkit-box-shadow: 0 0 15px #ccc;
	-ms-box-shadow: 0 0 15px #ccc;
	-o-box-shadow: 0 0 15px #ccc;
	behavior:url(pie/PIE.htc);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333,endColorstr=#33333333);*/
	border: 1px solid #d7d7d7;
	padding: 30px 24px;
}
.x7 .a1{
	padding-right: 0;
}
.x7 .a1 span{
	font-size: 1pc;
	color: #333;
	margin-right: 22px;
}
.x7 .a1 em{
	font-style: normal;
	color: #ff6800;
    font-size: 30px;
}
.x7 .a2{
	text-align: center;
	padding-top: 12px;
}
.x7 .a2 span{
	font-size: 1pc;
	color: #333;
}
.x7 .a2 a{
	text-decoration: none;
	font-size: 1pc;
	color: #fb6800;
}
.x7 .a2 a:hover{
	color: #ff0000;
}
.x7 .a3{
	text-align: center;
}
.x7 .a3 a{
	text-decoration: none;
	color: white;
	background-color: #fb6800;
	display: inline-block;
	padding: 10px 36px;
}
.x7 .a3 a:hover{
	background-color: #fc7d4a;
	color: #ffe7d6;
}
.add{
	font-size: 14px;
    color: #6a6a6a;
    border: 1px dashed #dcdcdc;
    display: inline-block;
    padding: 5px 0;
    margin-right: 3px;
    cursor: pointer;
    width: 132px;
    text-align: center;
}
.cdns{
	border: 1px solid #fb6800;
}
.duigou{
	background: url(../images/duigou.jpg) no-repeat;
	    background-position: 100% 100%;
    background-size: 22px;
}
.num{
	color: #ff6800;
}
.know{
	text-decoration: none !important;
	font-size: 12px;
	color: #6a6a6a;
	display: inline-block;
    margin-top: 22px;
    margin-left: 16px;
}
.know:hover{
	color: #fb6800;
}
.ask{
	display: block;
    margin-top: -14px;
    margin-left: -16px;
}
.layui-form-radio div{
	margin-top: -3px;
}
.layui-form-radio div>span{
	margin-left: 0 !important;
	color: #ff4900 !important;
	font-weight: normal !important;
	font-size: 18px !important;
}
.layui-form-radio div>i{
	font-style: normal;
	font-size: 14px;
	color: #666;
}
.layui-form-label{
	font-size: 14px;
    color: #333;
    font-weight: bold !important;
    margin-left: 58px;
    text-align: left !important;
    width: 116px !important;
}
.given{
	position: relative !important;
	display: inline-block;
    width: 42px;
    padding: 1px 3px;
    background-color: #6ca92b;
    color: white;
    font-size: 12px;
}
.given1{
	margin-left: 370px;
}
.given2{
	margin-left: 74px;
}
.given:after{
	position: absolute !important;
    bottom: -6px;
    left: 8%;
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid #6ca92b;
    border-right: 6px solid transparent;
}
label{
	font-weight: normal;
}
.labels{
	cursor: pointer;
	margin: 3px 12px;
}
.price{
	font-weight: 700 !important;
	margin-left: 75px;
}
.fir{
	margin-left: 87px;
}
form span{
	font-size: 14px;
	color: #666;
}
.nums{
	color: #ff4900;
    font-size: 22px;
    margin-left: 3px;
}
.advantage{
	width: 100%;
	background-color: white;
	display: table;
	margin: 0 auto;
	padding-bottom: 50px;
}
.advantage h1{
	    margin: 60px 0 35px 0;
    font-size: 30px;
    color: #333;
}
.advantage li{
	width: 282px;
	height: 355px;
	padding: 0 22px;
	margin-right: 14px;
	border: 1px solid #e6e6e6;
	padding-top: 20px;
}
.advantage .last{
	margin-right: 0 !important;
}
.advantage li h4{
	color: #f86d0d;
    font-size: 1pc;
    line-height: 1pc;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}
.advantage li span{
	display: block;
	text-align: center;
}
.advantage li p{
	text-align: justify;
	color: #696969;
    font-size: 9pt;
    line-height: 20px;
}
.advantage li a{
	text-decoration: none;
	color: #696969;
    font-size: 9pt;
}
.advantage li a:hover{
	color: #fb6800;
}
.adv5{
	width: 100%;
	height: auto;
}
.problem{
	background-color: white;
}
.problem h2{
	font-size: 30px;
	color: #333;
	margin: 40px 0 40px 0;
}
.problem .what{
	border-bottom: 1px solid #ccc;
	padding-bottom: 50px;
}
.problem .what li{
	width: 280px;
}
.problem .what li a{
	display: block;
	font-size: 14px;
	line-height: 2pc;
	color: #333;
	text-decoration: none;
	background: url(../images/spot.jpg) no-repeat;
	background-position: 0 50%;
	    padding-left: 8px;
}
.problem .what li a:hover{
	color: #fb6800;
}
.answer{
	margin: 24px 0;
}
.answer li{
	width: 198px;   /*204*/
    border-right: 1px solid #ccc;
    margin-right: 37px;
}
.answer .last{
	margin-right: 0 !important;
	border: none !important;
}
.answer li span{
	margin-left: 15px;
	font-size: 1pc;
	color: #666;
}
.need{
	padding-bottom: 50px;
}
.need h3{
	font-size: 20px;
	color: #333;
	margin: 40px 0 30px 0;
	text-align: center;
}
.need li{
	width: 284px;
    background-color: white;
    margin-right: 11px;
    
}
.need li .main{
	padding: 25px 20px;
}
.need .last{
	margin-right: 0 !important;
}
.need li h4{
	font-size: 18px;
	color: #333;
	text-align: center;
}
.need li p{
	text-align: center;
}
.need li p img{
	margin: 20px 0 25px 
}
.need li a{
	text-decoration: none;
	background-color: #f7f7f7;
	font-size: 14px;
	color: #666;
	display: block;
    line-height: 44px;
    text-align: center;
	height: 44px;
}
.need li a:hover{
	color: #fb6800;
}
.need li a img{
	margin-right: 5px;
    display: inline-block;
    margin-top: -2px;
}








.slip{
	background: url(../images/slide.jpg) no-repeat;
}
.cons{
	position: relative;
	/*width: 100%;*/
	height: 130px;
	background: url(../images/slide.jpg) no-repeat;
}
.slidepic{
	width: 100%;
}
.business{
	position: absolute;
        top: 40%;
    left: 20px;
    font-size: 24px;
    color: white;
}
.or{
	position: absolute;
	    left: 43%;
    top: 46%;
	font-size: 14px;
	color: white;
}
.ors{
	position: absolute;
	    left: 66%;
    top: 46%;
	color: white;
	font-size: 14px;
}
.create{
	position: absolute;
	    top: 36%;
    left: 25%;
	font-size: 18px;
	color: white;
	background-color: #96cb11;
	padding: 10px 20px;
	text-decoration: none !important;
	border-radius: 6px;
	-webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    behavior:url(pie/PIE.htc);
}
.create:hover{
	background-color: #97bd2a;
	color: #fefbf6
}
.road{
	position: absolute;
	top: 36%;
    left: 49%;
	font-size: 18px;
	color: white;
	background-color: #4f7b93;
	padding: 10px 20px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    behavior:url(pie/PIE.htc);
	text-decoration: none !important;
}
.road:hover{
	background-color: #5a707d;
	color: #e3e5e4;
}
.service{
	position: absolute;
        top: 32%;
    left: 76%;
    
}
.service span{
	display: block;
	font-size: 16px;
	color: white;
	margin-bottom: 10px
}
.service span i{
	font-style: normal;
	font-size: 14px;
}
.service i{
	font-style: normal;
}
.service .iconfont{
	margin-right: 5px;
}
.service a{
	text-decoration: none !important;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 5px 30px;
    margin-left: 30px;
}
.service a:hover{
	color: #ff6800;
	background: #f9f9f9;
}
.service:hover .iconfont{
	color: #ff6800;
}

.sidebar{
	position: fixed;
	top: 50%;
	right: 18px;
	margin-top: -250px;
	width: 48px;
	z-index: 999;
}
.expect{
	margin-bottom: 35px;
}
.sidebar a{
	display: block;
	text-decoration: none;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	background-color: white;
	text-align: center;
	padding: 5px 0;
}
.sidebar a:hover i{
	color: #fb6800;
}
.sidebar a:hover span{
	color: #fb6800;
}
.sidebar .car{
	position: relative;
	border: 1px solid #fb6800 !important;
	margin-bottom: 20px !important;
}
.sidebar .car:hover{
	background-color: #fb6800;
}
.sidebar .car:hover i{
	color: white;
}
.sidebar .car:hover span{
	color: white;
}
.sidebar .car em{
	position: absolute;
    top: -10px;
    left: -12px;
    z-index: 999;
    padding: 3px 7px;
    font-style: normal;
    font-size: 14px;
    color: white;
    background-color: #fb6800;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    behavior:url(pie/PIE.htc);
}
.sidebar .car i{
	color: #fb6800;
}
.sidebar .car span{
	color: #fb6800;
}
.sidebar i{
	font-size: 20px !important;
	display: block;
	color: #848484;
}
.sidebar span{
	color: #848484;
	font-size: 12px;
}
.sidebar .ser{
	border: 1px solid #fb6800 !important;
	background-color: #fb6800 !important;
}
.sidebar .ser i{
	color: white !important;
}
.sidebar .ser span{
	color: white !important;
}
.sidebar .up{
	display: none;
}
.sidebar .up a:hover{
	background-color: #fb6800;
}
.sidebar .up:hover i{
	color: white;
}
.sidebar .up:hover span{
	color: white;
}
.sidebar .up a{
	text-decoration: none;
	display: block;
	border: 1px solid #ccc;
	background-color: white;
}
.sidebar .up i{
	font-style: normal;
	font-size: 20px !important;
	color: #848484;
}
.sidebar .up span{
	font-size: 12px;
	color: #848484;
}
.sidebar .oranges{
	padding: 5px !important;
    border: none !important;
    width: 48px;
    height: 50px;
    background: #fb6800;
}
.sidebar .oranges img{
	width: 100%;
}
.sidebar .oranges p{
	color: white;
	margin-top: 3px;
}
.dials-text{
	display: none;
	width: 256px;
    height: 111px;
    position: fixed;
    top: 50%;
    right: 60px;
    margin-top: -129px;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}
.dials-left{
	position: relative;
    width: 226px;
    background: white;
    float: left;
    border: 1px solid #ccc;
    border-top: 3px solid #fb6800;
    margin-left: 10px;
    box-shadow: 0px 0px 10px #a19e9e;
    -webkit-box-shadow: 0px 0px 10px #a19e9e;
    -ms-box-shadow: 0px 0px 10px #a19e9e;
    -moz-box-shadow: 0px 0px 10px #a19e9e;
    -o-box-shadow: 0px 0px 10px #a19e9e;
    behavior:url(pie/PIE.htc);
}
.dials-left:before{
	position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    border-width: 10px;
    border-left-color: #ccc;
    top: 19px;
}
.dials-left:after{
	position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    border-width: 9px;
    border-left-color: white;
    top: 20px;
}
.dials-text i{
	text-align: center;
	width: 20%;
	float: left;
	font-size: 30px !important;
    margin-top: 26px;
}
.dials-text h2{
	    text-align: left;
    float: left;
    width: 70%;
    line-height: 16px;
    margin: 25px 0;
}
.dials-text p{
	font-size: 25px;
	color: #fb6800;
}
.dials-text span{
	font-size: 14px;
	color: #aaa;
}
.ser-text{
	display: none;
    padding: 10px;
    width: 480px;
    position: fixed;
    top: 50%;
    right: 60px;
    margin-top: -199px;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}
.ser-left{
	position: relative;
	float: left;
	width: 450px;
	background-color: white;
	padding: 30px 20px 20px 20px;
	border: 1px solid #ccc;
    border-top: 3px solid #fb6800;
    z-index: 999;
    box-shadow: 0px 2px 8px #a19e9e;
    -webkit-box-shadow: 0px 2px 8px #a19e9e;
    -ms-box-shadow: 0px 2px 8px #a19e9e;
    -moz-box-shadow: 0px 2px 8px #a19e9e;
    -o-box-shadow: 0px 2px 8px #a19e9e;
    behavior:url(pie/PIE.htc);
}
.ser-left:before{
	position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    border-width: 10px;
    border-left-color: #ccc;
    top: 22px;
}
.ser-left:after{
	position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    border-width: 9px;
    border-left-color: white;
    top: 23px;
}
.ser-left .title{
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	overflow: hidden;
	margin-bottom: 15px;
}
.ser-left .title i{
	float: left;
    width: 20%;
    text-align: center;
    font-size: 42px !important;
    color: #c9c9c9 !important;
}
.ser-left .title h3{
	float: left;
	width: 80%;
}
.ser-left .title p{
	font-size: 24px;
	color: #fb6800;
}
.ser-left .title span{
	font-size: 14px;
	color: #aaa;
}
.ser-left ul{
	width: 100%;
}
.ser-left ul li{
	width: 33%;
}
.ser-left ul li a{
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
}
.ser-left ul li a:hover span{
	color: #fb6800;
}
.ser-left ul .first{
	width: 100% !important;
	font-size: 14px;
	color: #666;
	margin-bottom: 15px;
}



.foot .top{
	margin-top: 32px;
	margin-bottom: 20px;
}
.foot .top ul li{
	width: 146px;
}
.foot .top ul li .title, .foot .top ul li p{
	color: #333 !important;
	font-weight: bold;
	margin-bottom: 5px !important;
}
.foot .top ul li a{
	display: block;
	color: #666;
	font-size: 12px;
	    line-height: 22px;
}
.picli{
	margin-top: 24px;
}
.wepic{
	margin-bottom: 5px;
} 
.picli a{
	text-decoration: none !important;
}
.picli a:hover{
	color: #fb6800 !important;
}
.foot{
	position: relative;
}
.award{
	display: none;
	position: absolute;
	top: -2%;
    left: 30%;
}
.activity{
	width: 50px !important;
}
.foot .down{
	background-color: white;
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #ccc;
}
.foot .down ul li a{
	display: inline-block;
    border-right: 2px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none !important;
}
.foot .down ul li a:hover{
	color: #fb6800;
}
.corporation{
	display: table;
	margin: 0 auto;
}
.foot .downes{
	background-color: white;
	padding-bottom: 50px;
}
.foot .downes .a1{
	width: 278px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px 0;
    margin: 20px 0;
}
.foot .downes .a2{
	border-right: 1px solid #ccc;
	padding-top: 2px !important;
}
.foot .downes .a6{
	padding: 0;
	float: left;
	text-align: center;
}
.foot .downes .a6 p{
	margin-bottom: 0 !important;
}
.foot .downes .a6 a{
	color: #fb6800;
	font-size: 12px;
}
.foot .downes .way{
	display: table;
	margin: 0 auto;
	margin-bottom: 5px;
}
.foot .downes .way li{
	display: inline-block;
	border-right: 1px solid #ccc;
}
.foot .downes .way .last{
	border: none !important;
}
.foot .downes .way li a{
	font-size: 14px;
	color: #666;
	padding: 0 5px;
	text-decoration: none !important;
	line-height: 12px;
}
.foot .downes .way li a:hover{
	color: #fb6800;
}
.foot .downes .way p, span{
	color: #666;
	font-size: 14px;
}
.foot .downes p{
	text-align: center;
	font-size: 14px;
	margin-bottom: 3px;s
}
.foot .downes p a:hover{
	color: #fb6800;
}
.pics img{
	margin: 15px 6px 40pxs 6px;
}
.respond{
	text-decoration: none !important;
	border-right: 1px solid #ccc;
	padding-right: 5px;
}
.respond:hover{
	color: #fb6800;
}
.foot .downes .district{
	display: table;
	margin: 0 auto;
	margin-bottom: 15px;
}
.foot .downes .district li{
	display: inline-block;
	margin: 0 6px;
}
.foot .downes .district li a{
	font-size: 14px;
	color: #fb6800;
}