@charset "UTF-8";
/**
 * 
 * @team SlipperClown (http://www.slippersclown.com/)
 * @developer Hacker丶Wand (578112964@qq.com)
 * @date    2017-05-23 17:58:31
 * @version $Id$
 */
*{margin:0;padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;         -o-box-sizing: border-box;box-sizing: border-box;}
body{height: 100%;overflow-x: hidden;
    font: 13px  'Tahoma','arial','Microsoft Yahei','Simsun';}
h1,h2,h3,h4,h5,h6{font-size: 15px;font-weight:normal;}
a{color: #5F5F5F;text-decoration: none;}
img{border: none;}
ol,ul,li{list-style: none;}
table{border-collapse:collapse;}
span{display: inline-block;}
textarea{resize:none;font: 13px  'Tahoma','arial','Microsoft Yahei','Simsun';}
input{outline:none;font: 13px  'Tahoma','arial','Microsoft Yahei','Simsun';border: 1px solid #CCC;}
@font-face {
  font-family: 'iconfont';  /* project id 304767 */
  src: url('//at.alicdn.com/t/font_3wuuri1ho6gbke29.eot');
  src: url('//at.alicdn.com/t/font_3wuuri1ho6gbke29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3wuuri1ho6gbke29.woff') format('woff'),
  url('//at.alicdn.com/t/font_3wuuri1ho6gbke29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_3wuuri1ho6gbke29.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

#com_header{
	height: 40px;
	position: fixed;
	top: 0;
	z-index: 4;
	left: 0;
	width: 100%;
	background-color: #3A3939;
}
#com_header .logo{
	height: 100%;
	padding: 2px;
}
#com_header>span,#com_header>label{
	line-height: 40px;
	padding: 0 10px;
	color: #FFF;
	float: right;
}
#user_enter{
	background-color: #03b3ff;
}
#user_enter input{
	display: none;
}
#user_enter input[type=checkbox] ~ div{
	height: 0px;
	width: 100%;
	position: fixed;
	top: 40px;
	overflow: hidden;
	opacity: 0;
	left: 0;
	text-align: center;
	background-color: #262626;
	-webkit-transition: all 0.3s  linear;
       -moz-transition: all 0.3s  linear;
        -ms-transition: all 0.3s  linear;
         -o-transition: all 0.3s  linear;
            transition: all 0.3s  linear;
}
#user_enter input[type=checkbox]:checked ~ div{
	height: 60px;
	opacity: 1;
}
.login-but,.register-but{
	line-height: 40px;
	margin-top: 10px;
	border-radius: 5px;
	display: inline-block;
	width: 40%;
}
.login-but{
	background-color: #FFF;
	color: #5F5F5f;
}
.register-but{
	background-color: #03b3ff;
	color: #FFF;
}
#com-header-nav{
	position: fixed;
	left: -100%;
	opacity: 0;
	top: 0;
	z-index: 8;
	width: 70%;
	color: #FFF;
	overflow-y: auto;
	height: 100%;
	background-color: #444343;
	-webkit-transition: all 0.5s  linear;
       -moz-transition: all 0.5s  linear;
        -ms-transition: all 0.5s  linear;
         -o-transition: all 0.5s  linear;
            transition: all 0.5s  linear;
}
#com-header-nav .child-nav:after{
	content: '>';
	margin-left: 5px;
}
#com-header-nav.show{
	left: 0%;
	opacity: 1;
}
#com-header-nav li,#com-header-nav a,#com-header-nav span,#com-header-nav label{
	font-size: 1em;
	display: block;
	line-height: 60px;
	padding-left: 10px;
	color: #FFF;
}
#com-header-nav input[type=checkbox] ~ ul{
	height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 0.5s  linear;
       -moz-transition: all 0.5s  linear;
        -ms-transition: all 0.5s  linear;
         -o-transition: all 0.5s  linear;
            transition: all 0.5s  linear;
}
#com-header-nav input[type=checkbox]{
	display: none;
}
#com-header-nav input[type=checkbox]:checked ~ ul{
	height: auto;
	opacity: 1;
}
.main{
	position: relative;
	margin-top: 40px;
	z-index: 0;
}
footer.bottom{
	background-color: #3A3939;
	position: relative;
	width: 100%;
	text-align: center;
}
footer.bottom .text{
	line-height: 40px;
	color: #FFF;
}
footer.bottom .btn{
	border-bottom: 1px solid #FFF;
	position: relative;
}
footer.bottom .btn>i.iconfont{
	line-height: 40px;
	display: block;
	text-align: center;
	color: #FFF;
	border-bottom: 1px solid #FFF;
	height: auto;
}
footer.bottom .btn>input{
	display: none;
}
footer.bottom .btn>.con{
	display: none;
}
footer.bottom .btn>input:checked ~ .con{
	display: block;
}
footer.bottom .con *{
	color: #FFF;
}
footer.bottom .con .field{
	margin-top: 10px;
}
#com-slider-menu{
	position: fixed;
	right: 5px;
	top: 45px;
	z-index: 1;
	display: none;
}
#com-slider-menu.show{
	display: block;
}
#com-slider-menu>ul{
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #DDD;
	box-shadow: 0 0 30px rgba(0, 0, 0, .7);
}
#com-slider-menu>ul>li>a{
	line-height: 30px;
}
.table table{width:100%;}
.table td,.table th{
	color: #5F5F5F;
	padding: 3px;
	border: 1px solid #DDD;
}
.table th{
	background-color: #03b3ff;
	border-color: #FFF;
	color: #FFF;
}
.mark{
	position: fixed;
	width: 0%;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 0;
	background-color: rgba(0, 0, 0, .5);
	-webkit-transition: all 0.2s  linear;
       -moz-transition: all 0.2s  linear;
        -ms-transition: all 0.2s  linear;
         -o-transition: all 0.2s  linear;
            transition: all 0.2s  linear;
}
.show ~ .mark{
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 1;
}
#go-top{
	position: fixed;
	background-color: rgba(3, 179, 255, .6);
	border-radius: 5px;
	right: 5px;
	bottom: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	text-align: center;
	color: #FFF;
}
#go-top>.iconfont{
	margin-right: 0;
}
input.input-nextpage{
	width: 30px;
}
#page-but-list{
	padding: 10px 0;
}
#page-but-list *{
	color: #5F5F5F;
}